.title {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%
}

.pageTitle {
    text-align: center;
    font-family: Wellfleet;
    /*font-size: 72px;*/
}