.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageTitle {
    margin-top: 3%;
    text-align: center;
    font-family: Wellfleet;
    /*font-size: 72px;*/
}